@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap');

:root{
    --white: #ffffff;
    --body: #545d6d;
    --dark: #202631;
    --border-color: rgba(0,0,0,0.10);
    --border-width: 1px;
    --border-radius: 30px;
}

/* reset & helpers */
body{
    font-family: "Barlow", sans-serif;
    line-height: 1.8;
    color: var(--body);
}

.floating-btn{
    width: 60px;
    height: 60px;
    background-color: var(--body);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.floating-btn:active{
    background-color: #ffffff;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 800;
    color: var(--dark);
}

a{
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

a:hover{
    color: var(--dark);

}

img{
    width: 100%;
}

section{
    padding-top: 220px;
    padding-bottom: 170px;
}

/* navbar */
.navbar{
    position:absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 9999;
}

.navbar-brand{
    font-size: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.navbar .navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 18px;
}

.social-links a{
    width: 36px;
    height: 36px;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 22px;
    margin-left: 10px;
}

@media (max-width: 992px){
    .navbar{
        background-color: var(--dark);
        padding-left: 10px;
    }
}

@media (max-width: 1220px){
    .navbar .navbar-nav .nav-link{
        text-transform: uppercase;
        font-size: 20px;
    }
}


/* hero */
#hero{
    background: url("/img/bgedited5.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero h1,
#hero p{
    color: var(--white);
}

#hero h1{
    font-weight: 900;
}

#hero p{
    font-size: 18px;
    max-width: 450px;
}

/* btn */
.btn{
    padding: 20px 44px;
    border-width: 2px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/* intro */
.intro{
    margin-bottom: 60px;
}

.intro .hr-line{
    width: 60px;
    height: 4px;
    background-color: var(--dark);
    display: inline-block;
}

.intro h1{
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
}

.intro p{
    max-width: 500px
}

.intro.intro-dark h1,
.intro.intro-dark p{
    color: white;
}

.intro.intro-dark .hr-line{
    background-color: white;
}

/* skills */
.skill{
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: 32px;
}

.skill .icon{
    width: 100px;
    height: 100px;
    background-color: var(--dark);
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--white);
    border-radius: var(--border-radius);
    margin-right: 16px;
}

.link-arrow{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.link-arrow i{
    transition: all 0.4s ease;
}

.link-arrow:hover i{
    transform: translate(5px, -5px);
}

.link-arrow.link-dark{
    color: var(--body);
}

.link-arrow.link-dark:hover{
    color: white;
}
/* work */
#work{
    background-color: var(--dark);
}

.project h3{
    color: white;
    margin-top: 24px;
}

.project .image-wrapper{
    overflow: hidden;
    border-radius: var(--border-radius);
}

.project .image-wrapper img{
    border-radius: var(--border-radius);
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.project:hover .image-wrapper img{
    transform: scale(1);
}

@media (max-width: 990px){
    .project-spacing{
        margin-top: 10px;
    }
}


/* about */
#about img{
    border-radius: var(--border-radius);
    transform: rotateY(180deg);
}

/* CV */
#cv{
    background-color: #f5f5f5;
}

.cvTitle h3{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.description{
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 32px;
    background-color: white;
}

.description p{
    border-bottom: var(--border-width) solid var(--border-color);
    padding-bottom: 16px;
}

.description .location{
    display: flex;
    align-items: center;
}

.description .location i{
    width: unset;
    font-size: 60px;
    margin-right: 16px;
    color: black;
}

/* contact */
#contact form{
    padding: 32px;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
}

#contact form .form-control{
    background-color: #f8f8f8;
    border: transparent;
    border-radius: var(--border-radius);
    padding-left: 18px;
}

#contact form input.form-control{
    height: 56px;
}

#contact i{
    margin-right: 10px;
}

/* footer */
.footer-top{
    padding-bottom: 30px;
    border-bottom: var(--border-width) solid var(--border-color);
}

.footer-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .social-links a{
    border: var(--border-width) solid var(--border-color);
}


/* media control */
@media (max-width: 992px){
    /* HERO MEDIA CONTROL */
    #hero{
        background-image: url("/img/phoneBG2.jpg");
    }

    #hero p{
        font-size: 30px;
        max-width: 450px;
    }

#hero h1{
    font-size:100px;
    margin-top: 20%;
}

    /* BTN MEDIA CONTROL */

.btn{
    padding: 28px 50px;
    border-width: 2px;
    border-radius: 100px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

    /* SKILLS MEDIA CONTROL */

#skills h1{
    font-size: 60px;
}

#skills p{
    font-size: 20px;
}

.skill h4{
    font-size: 30px;
}

.skill p{
    font-size: 20px;
}

    /* WORK MEDIA CONTROL */

#work h1{
    font-size: 60px;
}

#work p{
    font-size: 20px;
}

    /* ABOUT MEDIA CONTROL */

#about h1{
    font-size: 60px;
}

#about p{
    font-size: 20px;
}

    /* CV MEDIA CONTROL */

#cv h1{
    font-size: 60px;
}
    
 #cv p{
    font-size: 20px;
}

.description{
    font-size: 25px;
}

/* CONTACT MEDIA CONTROL */

#contact h1{
    font-size: 60px;
}

#contact p{
    font-size: 20px;
}

/* FLOATING BTN MEDIA CONTROL */

.floating-btn{
    width: 120px;
    height: 120px;
    font-size: 40px;
}
}